<!DOCTYPE html>
<html lang="en">
<%- include partials/header.ejs %> 
<body>
  <%- include partials/main_nav.ejs %> 

  <!--Main index content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5">Welcome to the <%= title %> page of my website!</h1>
        <p>Name's Pedro Huerta, this is my portfolio and from here you can check out any aspect that you like.<br>
        You can either click on any of the following buttons or select any page from the nav bar on top of this page.</p>
        <div style="display: flex;">
          <a href="\about"><button type="button" class="btn btn-primary btn-sm">About</button></a>
          <p> &nbsp;&nbsp;  Click here to get to know me</p>
        </div>
        <div style="display: flex;">
          <a href="\contact"><button type="button" class="btn btn-primary btn-sm">Contact</button></a>
          <p> &nbsp;&nbsp;  Click here to contact me</p>
        </div>
      </div>
    </div>
  </main>

  <%- include partials/bottom_nav.ejs %> 

  <%- include partials/scripts.ejs %> 
</body>
</html>
